@model IEnumerable<CNPM.Models.TopicViewModel>
@{
    ViewBag.Title = "AllTopics";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@{
    var aId = new List<String>();
    var divId = new List<String>();
}

<!-- Main Content -->
<div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Student" )"><i class="fas fa-home"></i> Trang chủ</a></li>
            <li title="@ViewBag.CourseName"><a href="@Url.Action("Course","Student", new { id = ViewBag.courseID })">@ViewBag.CourseCode</a></li>
            <li class="active">Đăng ký đề tài</li>
        </ol>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->
    <div class="container-fluid">
        <div id="your_topic" style="text-align: center;margin-bottom: 20px;color: white;font-weight: bold;font-size: 20px;display: none;">
            <span style="background-color: #e3e357;padding: 8px;border-radius: 20px;">
                Đề tài của bạn: @ViewBag.topic_name
            </span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @for (int i = Model.Count() / 2; i < Model.Count(); i++)
                {
                    var currentTopic = Model.ElementAt(i);
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#topic_@currentTopic.id" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="topic_@currentTopic.id">
                            <h6 class="m-0 font-weight-bold text-primary">@currentTopic.name</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="topic_@currentTopic.id" style="">
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-sm-3 control-label">
                                        <b>Mô tả</b>
                                    </label>
                                    <p class="col-sm-9">
                                        @currentTopic.description
                                    </p>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">
                                        <b>File chi tiết</b>
                                    </label>
                                    <p class="col-sm-9">
                                        @if (currentTopic.file_detail == null)
                                        {
                                            <span>Không</span>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Detail", "Utils", null, Request.Url.Scheme)?file=@currentTopic.file_detail" target="_blank">@currentTopic.file_detail</a>
                                        }
                                    </p>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">
                                        <b>Số nhóm đăng ký</b>
                                    </label>
                                    <p class="col-sm-9">
                                        @currentTopic.totalGroup<span>/3</span>
                                    </p>
                                </div>
                            </div>
                            <div id="div_@currentTopic.id">
                                <a href="@Url.Action("RegisterTopic","Student", new { id = currentTopic.id})" class="btn btn-info btn-icon-split" style="width: 100%;" id="register_@currentTopic.id">
                                    <span class="text">Đăng ký</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    if (ViewBag.topic_id != null)
                    {
                        aId.Add("#register_" + currentTopic.id);
                        divId.Add("#div_" + currentTopic.id);
                    }
                }
            </div>

            <div class="col-lg-6">
                @for (int j = 0; j < Model.Count() / 2; j++)
                {
                    var currentTopic = Model.ElementAt(j);
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#topic_@currentTopic.id" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="topic_@currentTopic.id">
                            <h6 class="m-0 font-weight-bold text-primary">@currentTopic.name</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="topic_@currentTopic.id" style="">
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-sm-3 control-label">
                                        <b>Mô tả</b>
                                    </label>
                                    <p class="col-sm-9">
                                        @currentTopic.description
                                    </p>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">
                                        <b>File chi tiết</b>
                                    </label>
                                    <p class="col-sm-9">
                                        @if (currentTopic.file_detail == null)
                                        {
                                            <span>Không</span>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Detail", "Utils", null, Request.Url.Scheme)?file=@currentTopic.file_detail" target="_blank">@currentTopic.file_detail</a>
                                        }
                                    </p>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">
                                        <b>Số nhóm đăng ký</b>
                                    </label>
                                    <p class="col-sm-9">
                                        @currentTopic.totalGroup<span>/3</span>
                                    </p>
                                </div>
                            </div>
                            <div id="div_@currentTopic.id">
                                <a href="@Url.Action("RegisterTopic","Student", new { id = currentTopic.id})" class="btn btn-info btn-icon-split" style="width: 100%;" id="register_@currentTopic.id">
                                    <span class="text">Đăng ký</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    if (ViewBag.topic_id != null)
                    {
                        aId.Add("#register_" + currentTopic.id);
                        divId.Add("#div_" + currentTopic.id);
                    }
                }
            </div>
        </div>
        @using (Html.BeginForm("CancelTopic", "Student",new { courseID = ViewBag.courseID }, FormMethod.Post, new { id = "CancelTopicForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
</div>

@{ 
    var check_topic = 0;
    if(ViewBag.topic_id != null)
    {
        check_topic = 1;
    }
}


@section Scripts {
    <script>
        $(document).ready(function () {
            var arrA = JSON.parse('@Html.Raw(Json.Encode(aId))');
        var arrDiv = JSON.parse('@Html.Raw(Json.Encode(divId))');
        arrA.forEach(function(element) {
            $(element).css("pointer-events", "none");
        });
        arrDiv.forEach(function (element) {
            $(element).css("cursor", "not-allowed");
        });

        if (@check_topic == 1) {
            var elem = document.querySelector('#your_topic');

            elem.style.display = 'block';

            $("#register_@ViewBag.topic_id").css("pointer-events", "auto");
            $("#div_@ViewBag.topic_id").css("cursor", "auto");
            $("#div_@ViewBag.topic_id span").text('Hủy đăng ký');
            $('#register_@ViewBag.topic_id').click(function (e) {
                e.preventDefault();
                bootbox.confirm({
                    title: "Hủy đề tài",
                    message: "Bạn có chắc chắn muốn hủy đăng ký đề tài này không?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Hủy bỏ'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Đồng ý'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            document.getElementById("CancelTopicForm").submit();
                        }
                    }
                });
            });
            $("#register_@ViewBag.topic_id").removeClass('btn-info').addClass('btn-danger');

        }
        });


    </script>
}

